[submodule "external/BIManalyst_g_29"]
	path = external/BIManalyst_g_29
	url = https://github.com/JoeS223919/BIManalyst_g_29.git
	branch = main

[submodule "external/BIManalyst_g_20"]
	path = external/BIManalyst_g_20
	url = https://github.com/ElisaSHansen/BIManalyst_g_20.git
	branch = main

[submodule "external/BIManalyst_g_23"]
	path = external/BIManalyst_g_23
	url = https://github.com/s223903/BIManalyst_g_23.git
	branch = main

[submodule "external/BIManalyst_g_22"]
	path = external/BIManalyst_g_22
	url = https://github.com/banats213/BIManalyst_g_22.git
	branch = main

[submodule "external/BIManalyst_g_24"]
	path = external/BIManalyst_g_24
	url = https://github.com/Dupont2001/BIManalyst_g_24.git
	branch = main