[submodule "external/BIManalyst_g_xy"]
	path = external/BIManalyst_g_xy
	url = https://github.com/timmcginley/BIManalyst_g_xy.git
[submodule "external/BIManalyst_g_29"]
	path = external/BIManalyst_g_29
	url = https://github.com/JoeS223919/BIManalyst_g_29.git
	branch = main
[submodule "external/Advanced-BIM-analyst-group-20"]
	path = external/Advanced-BIM-analyst-group-20
	url = https://github.com/ElisaSHansen/Advanced-BIM-analyst-group-20.git
	branch = main

[submodule "external/BIManalyst-group-23"]
	path = BIManalyst-group-23
	url = https://github.com/s223903/BIManalyst-group-23
